





    	<div id="top_menu_wrapper">
        	<div id="company_title"></div> 
            <div class="welcome_div">Welcome <?php echo $_SESSION['SESS_FIRST_NAME'];?> to <?php print(SITE_NAME);?> Admin</div>
            
            <div class="logo_div"><img src="<?php print(ADMIN_BASE_URL);?>templates/contents/images/admin_lg_logo.png"/></div>
            
              <div class="clear"></div>
        </div>
      
    <!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
    
        
        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="topmainNav">
        	<li><a href="<?php print(ADMIN_BASE_URL); ?>index.php"  class="active">Dasboard</a></li> <!-- Use the "active" class for the active menu item  -->
        	<li><a href="https://server4.monaranet.com:2096/" target="_BLANK">Webmail</a></li>
        	<li><a href="https://secure.pluspro.com">Billing</a></li>

                <li class="logout"><a href="<?php print(SITE_BASE_URL);?>" target="_blank" style="margin-right:0px !important;">Launch Website</a><a href="<?php print(ADMIN_BASE_URL);?>logout.php" style="padding-top: 8px;"><img src="<?php print(GLOBAL_ADMIN_CONTENT_PATH);?>/img/logoutv2.png" /></a></li>
        </ul>
       

            

