<div id="search_main_wrapper"  style="margin-bottom:55px;">
            <h2>Add Edit Site Contact Details</h2>     
</div>


<div id="table_main_wrapper">



    <div id="dashboard" style="background-color: #FFF;">

        <form action="" method="post">
            <div id="two">
                <fieldset>

                    <div id="separator">
                        <label for="site_name">Contact Name : </label>
                        <input name="contact_name" type="text" id="contact_name" required="required" value="<?php print($contact_name); ?>" size="64" maxlength="64"  />
                    </div>
                    <div id="separator">
                        <label for="site_url">E mail: </label>
                        <input name="address_line_1" type="email" id="address_line_1"  required="required" value="<?php print($address_line_1); ?>"  size="64" maxlength="64"  />
                    </div>
                    <div id="separator">
                        <label for="site_url">Address : </label>
                        <textarea tabindex="6" id="address_line_2" style="width:520px; height:80px;" name="address_line_2"><?php print($address_line_2); ?></textarea>
                    </div>
                    <div class="clear"></div>
                    
                         <div id="separator">
                        <label for="site_url">Phone Number 1: </label>
                        <input name="contact_number_2" type="text" id="contact_number_2" value="<?php print($contact_number_2); ?>"  size="64" maxlength="64"  />
                    </div>
                    <div class="clear"></div>
                    
                    <div id="separator">
                        <label for="site_url">Phone Number 2: </label>
                        <input name="address_line_3" type="text" id="address_line_3" value="<?php print($address_line_3); ?>"  size="64" maxlength="64"  />
                    </div>
                    
                   
              
                     <div id="separator">
                          <label for="google_map_code">Google Map Code: </label> 
                          <textarea tabindex="6" id="google_map_code" style="width:520px; height:80px;" name="google_map_code"><?php print($google_map_code);?></textarea>
                     </div>   
                    <div class="clear"></div>
                    
                     <div id="separator">
                        <label for="site_url">Video embed code: </label>
                        <textarea tabindex="6" id="contact_number_1" style="width:520px; height:80px;" name="contact_number_1"><?php print($contact_number_1); ?></textarea>
                        
                    </div>
                    <div class="clear"></div>
                      
                </fieldset>
                
            </div>
            <p>
                    <input type="hidden" name="contact_type" id="contact_type" value="<?php print($contact_type); ?>" />
                    <input type="submit" name="Submit" value="submit" class="testbutton" id="testbutton">
                    <input type="reset" id="resetbutton">
                </p>
                <div id="show"></div>
        </form>


    </div>

</div>
