
<?php if($msg == 'pagelimit'){?>
<div id="search_main_wrapper">

            <h2>Please upgrade your account</h2>     
</div>

       	  
       	            
<div id="table_main_wrapper">
       	  <div class="table_wrapper2" id="side_panel_box_5_content">
          	<div id="dashboard"></div>
          </div>
        
          <div class="table_wrapper2" id="side_panel_box_5_content">
          		

            
              <p style="color: red">You need to upgrade your account to add more pages.</p>


</div>            
            
</div>
<?php } ?>

                
              
			</div>
		  </div>
</div>
           <div style="height:10px;"></div>
</div>
