<div id="search_main_wrapper">

            <h2>Edit Sec Sub Pages</h2>     
</div>

       	  
       	            <div id="table_main_wrapper">
       	  <div class="table_wrapper2" id="side_panel_box_5_content">
          	<div id="dashboard"></div>
          </div>
        
          <div class="table_wrapper2" id="side_panel_box_5_content">
          		<div id="dashboard">
          	<table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody><tr>
                <td align="center">
                
                
                
 <script type="text/javascript" src="<?php print(GLOBAL_ADMIN_CONTENT_PATH);?>jlibs/js/dragdrop/secsubpage.js"></script>


<div style="margin-top:45px;"><a href="?action=add&pageType=sec_sub_pages&parentpageId=<?php print($parentpageId);?>" id="testbutton">Add a New Sub Page</a></div>
<div style="clear:both;"></div>

<div id="contentTop">
Drag the pages into the order that you want them to appear in the menu on your website (home page cannot be moved).<br /> To delete a page drag it over the waste basket. To edit a page click on edit.

</div>

<div id="pagesDiv">

<ul id="namelist">

	<?php foreach($pagesInfo As $pIndex=>$pageInfo){ ?>
            <li id="recordsArray_<?php print($pageInfo->id); ?>"  class="item">
            <div id="button">
        <a href="?action=edit&pageType=sec_sub_pages&pageId=<?php print($pageInfo->id); ?>&parentpageId=<?php print($parentpageId);?>">
            <div id="buttonTop">
                <?php print($pageInfo->name); ?><br /><?php if ($pageInfo->live == 'Draft') { echo "<span class='red'>DRAFT</span>"; } elseif($pageInfo->live == 'Exclude_from_menu'){?> <span class='orange'>Exclude from menu</span> <?php } ?>
            </div>
            <div id="buttonBottom">EDIT</div>
         </a>
        
                
     </div>
      
    
    </li>
<?php } ?>
 
</ul>
</div>

<div id="deleteArea"><img src="<?php print(GLOBAL_ADMIN_CONTENT_PATH);?>images/trash_basket.jpg" width="80" height="80" /></div>
                
                
                </td>
              </tr>
            </tbody></table>
			</div>
		  </div>
</div>
           <div style="height:10px;"></div>
</div>
