@charset "UTF-8";
/* CSS Document */

form#two {width:95%; 
padding:10px; 
margin:0 auto;

}

form#two fieldset {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    margin: 0 0 20px;
    padding: 19px;
}

form#tw00 fieldset {
    border: 1px solid #767676;
    margin-top: 10px;
    padding: 10px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

form#two legend {
    
    background-color: #767676;
    border: 1px solid #767676;
    font-size: 12px;
    font-weight: bold;
	color:#dadada;
    margin-bottom: 3px;
    padding: 5px 10px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
visibility:hidden;
}

form#two label {
    clear:left;
    display:block;
    float:left; 
    min-width:100px;
    width:100px;
    text-align:right;
    padding-right:10px;
    color:#000;
    line-height:15px;
    padding-top:7px;
}

form#two input, form#search input {
    background-color:transparent;
    border: 1px solid #767676;
    color: #555555;
    font-family:Arial, Helvetica, sans-serif;
	color:#767676;
	font-size:12px;
    height:18px;
    margin-bottom:15px;
   
}
form#two select {

    margin-bottom:15px;
}

form#two textarea{
	 background-color:transparent;
    border: 1px solid #767676;
    color: #555555;
   font-family:Arial, Helvetica, sans-serif;
	color:#767676;
	font-size:12px;
	padding-left:3px;
    margin-top: 4px;
    padding: 2px;
  float:left; 
margin-bottom:15px;
}


form#two option {background:#788; color:#fff;}
form#two optgroup {background:#abb; color:#000; font-family:georgia, serif;}
form#two optgroup option {background:#9aa; color:#fff;}
form#two #button1 {
	width:200px;
        height:40px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color: #060;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	}
	form#two #button2 {
	width:200px;
        height:40px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color: #C00;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	}
	
form#two #button1:hover, form#two #button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}
	
	form#two #button1:link, form#two #button2:link, form#two #button1:active, form#two #button2:active {
	position:relative;
	top:1px;
	color:#000;
	}
	
	
	
	
	form#search #searchbutt {
	padding:0.15em;
	border:0px;
	height:40px;
	width:100px;
	text-indent:20px;
	background:url(../images/search.png) no-repeat left;
	
	
	}
	
	form#search label {
		font-weight:bold;
		font-size:16px;
	}


#separator {
	margin-top:10px;
	margin-bottom:10px;
}

#coverit  {
	position:absolute;
	left:0px;
	top:-80px;
	width:100%;
	height:120%;
	background:#000;
	opacity: .75; /* standard: ff gt 1.5, opera, safari */
	-ms-filter: "alpha(opacity=75)"; /* ie 8 */
	filter: alpha(opacity=75); /* ie lt 7 */
	-khtml-opacity: .75; /* safari 1.x */
	-moz-opacity: .75; /* ff lt 1.5, netscape */
	z-index:1;
}

	#message {
	position:absolute;
	top:25%;
	left:50%;
	margin-left:-200px;
	
	width:400px;
	height:220px;
	
	background-color:#ffffff;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:12px solid #000;
	display:block;
	color:#000;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:30px 24px 20px 24px;
	text-decoration:none;
	text-align:center;
	z-index:10;
	}

	#message_old {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-110px;
	width:400px;
	height:220px;
	-moz-box-shadow:inset 0px 1px 0px 0px #dcdcdc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcdcdc;
	box-shadow:inset 0px 1px 0px 0px #dcdcdc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
	background-color:#ffffff;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:30px 24px 20px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	text-align:center;
	z-index:10;
	}
	
	#message2 {
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-200px;
		
	width:400px;
	height:220px;

	background-color:#ffffff;
	
	border-radius:16px;
	border:6px solid #000;
	
	color:#000;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:30px 24px 20px 24px;
	text-decoration:none;
	text-align:center;
	z-index:10;
	}
